@import "./global.scss";
.sidebar__container {
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  min-height: 100%;
  background: $whiteColor;
  border-radius: 0px 20px 0px 0px;
  margin-right: 2em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 1.5em;
}
.sidebar__container::-webkit-scrollbar {
  width: 5px;
}
.sidebar__container::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
}
.sidebar__container::-webkit-scrollbar-track {
  background-color: white;
}
.sidebar__container__links {
  height: fit-content;
}
.sidebar__container__content__entry {
  position: relative;
  margin-top: 0.5em;
}
.sidebar__container__content__entry__input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
.nav__bar__content__link__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5em 0.5em;
}
.nav__bar__content__link__content__svg__wrapper {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.nav__bar__content__link__content svg {
  width: 15px;
  height: 15px;
}
.nav__bar__content__link__content span {
  font-size: 12px;
  color: $textColor;
}
.sidebar__container__content__entry__input:hover
  ~ .nav__bar__content__link__content,
.sidebar__container__content__entry__input:checked
  ~ .nav__bar__content__link__content {
  transition: 300ms ease-in-out;
  background: $primaryColor;
  border-radius: 10px;
}
.sidebar__container__content__entry__input:hover
  ~ .nav__bar__content__link__content
  .nav__bar__content__link__content__svg__wrapper,
.sidebar__container__content__entry__input:checked
  ~ .nav__bar__content__link__content
  .nav__bar__content__link__content__svg__wrapper {
  transition: 300ms ease-in-out;
  background-color: transparent;
}
.sidebar__container__content__entry__input:hover
  ~ .nav__bar__content__link__content
  span,
.sidebar__container__content__entry__input:checked
  ~ .nav__bar__content__link__content
  span {
  transition: 300ms ease-in-out;
  color: $whiteColor;
}
.sidebar__container__line {
  width: 80%;
  height: 2px;
  background: $disabled;
  margin: 1em auto;
  margin-top: 0em;
}
.sidebar__container__content__logout svg {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}
.sidebar__container__content__logout span {
  font-size: 14px;
  color: $textColor;
}
.sidebar__container__content__logout {
  display: flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 6em;
  padding: 1em;
  border-radius: 10px;
}
.sidebar__container__content__logout:hover {
  background: $disabled;
  transition: 300ms ease-in-out;
}
